<style>
    .json {
        margin: 10px 0;
    }
</style>
<?php

foreach ($this->documentation as $method => $data) {
    echo '<h1>' . $data['name'] . '</h1>';
    echo '<p>' . $data['description'] . '</h1>';
    echo '<h2>Resource: ' . $data['resource'] . '</h2>';
    echo '<h3>Request (' . $data['request']['method'] . ')</h3>';
    echo '<div class="json"><pre>' . json_encode($data['request']['data'], JSON_PRETTY_PRINT) . '</pre></div>';
    echo '<h3>Response</h3>';
    echo '<div class="json"><pre>' . json_encode($data['response']['data'], JSON_PRETTY_PRINT) . '</pre></div>';
    echo '<h4>Response example</h4>';
    echo '<div class="json"><pre>' . json_encode($data['response']['example'], JSON_PRETTY_PRINT) . '</pre></div>';
    
}